<div class="row">
    <div class="col-md-4">
        <div style="text-align: center">
        <h1>
        <%= @student.name %>
        </h1>

        <%= image_tag @student.image, :class => 'student-img-lg' %>

        <h2><%= status_icon @student.status %> - <%= @student.nice_status %></h2>
        <h3><%= @student.destination %></h3>

        <%= link_to 'Edit', edit_student_path(@student), class: 'btn btn-block btn-warning' %>
        <%= link_to 'Back', students_path, class: 'btn btn-block btn-primary' %>
        </div>
    </div>

    <div class="col-md-8">
        <div style="text-align: center; font-size: 18px;">
        <h1>Go To:</h1>
        <%= form_tag travel_student_path(@student) do %>
            <%= label_tag :destination %>
            <%= text_field_tag :destination %>

            <div class="container">
                <div class="row">
                    <div class="col-md-4"><%= i_submit_button('CLS', 'btn btn-default btn-block') %></div>
                    <div class="col-md-4"><%= i_submit_button('HAL', 'btn btn-default btn-block') %></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><%= i_submit_button('ITO', 'btn btn-default btn-block') %></div>
                    <div class="col-md-2"><%= i_submit_button('WRK', 'btn btn-default btn-block') %></div>
                    <div class="col-md-2"><%= i_submit_button('OFC', 'btn btn-default btn-block') %></div>
                    <div class="col-md-2"><%= i_submit_button('OUT', 'btn btn-default btn-block') %></div>
                </div>
                <div class="row">
                    <div class="col-md-4"><%= i_submit_button('ABS', 'btn btn-default btn-block') %></div>
                    <div class="col-md-2"><%= i_submit_button('LAT', 'btn btn-default btn-block') %></div>
                    <div class="col-md-2"><%= i_submit_button('UNK', 'btn btn-default btn-block') %></div>
                </div>
            </div>
            <%= hidden_field_tag :status, "NUL" %>
            <%= hidden_field_tag :student_id, @student.id %>
            <%= submit_tag "Go", class: "btn btn-block btn-biggo btn-primary", id: 'go-button' %>
        <% end %>
    </div>
</div>

<%= javascript_tag do %>
    $('.btn-goto').bind('click', function(e) {
        e.preventDefault();
        $('.btn-goto').removeClass('goto-active');
        $(this).addClass('goto-active');
        $('#status').val($(this).attr('value'));
    });

    $('#go-button').bind('click', function(e) {
    if($('#status').val() == "NUL") {
    e.preventDefault();
    alert('Pick a status thing!');
        }
    });
<% end %>
